<!DOCTYPE html>
<html>
<head>
    <title>My Todo App</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <h1>MY TODO APP</h1>

        <form method="POST">
            <label>Enter a task:</label>
            <input type="text" name="task" required>
            <button type="submit">Add Task</button>
        </form>

        <div class="filters">
            <a href="/">All</a>
            <a href="/?status=active">Active</a>
            <a href="/?status=completed">Completed</a>
        </div>

        <h2>Tasks</h2>

        <ul>
    {% for task in tasks %}
    <li class="{% if task['completed'] == 1 %}completed{% endif %}">
        {{ task['task'] }}

        <a class="edit-btn" href="/edit/{{ task['id'] }}">Edit</a>

        {% if task['completed'] == 0 %}
            <a class="complete-btn" href="/complete/{{ task['id'] }}">
                Complete
            </a>
        {% else %}
            <a class="complete-btn" href="/incomplete/{{ task['id'] }}">
                Mark Incomplete
            </a>
        {% endif %}

        <a class="delete-btn" href="/delete/{{ task['id'] }}">Delete</a>
    </li>
{% endfor %}
        </ul>

    </div>

</body>
</html>